@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
	color: #000000;
}
.container {
	display: flex;
	justify-content: space-between;
}
.tab {
	position: relative;
}

body{
	background: radial-gradient(100% 100% at 80% 60%, #6943c2 0%, #2E335A 100%);
	height: 829px;
}

.weather {
	width: 600px;
	height: 435px;
	border: 1px solid #000000;
	display: block;
	margin: 100px auto;
	background: white;
	&__search {
		position: relative;
		width: 599px;
		height: 44px;
		border-bottom: 1px solid #000000;
		input[type="text"] {
			position: absolute;
			top: -1px;
			left: -1px;
			width: 600px;
			height: 45px;
			outline: none;
			font-family: "Roboto";
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 21px;
			color: #696969;
			background-color: transparent;
			border: 1px solid #000000;
		}
		input[placeholder="Search"] {
			padding-left: 16px;
		}
		button[type="submit"] {
			border: none;
			background-color: transparent;
			padding: 0;
			img {
				position: absolute;
				right: 10px;
				top: 7px;
				cursor: pointer;
			}
		}
	}
	&__block {
		min-width: 297px;
		height: 390px;
		border-right: 1px solid #000000;
		display: none;
		&:before {
			content: "";
			height: 44px;
			width: 99px;
			position: absolute;
			top: 345px;
		}
		// &:nth-child(1):before {
		// 	background-color: #000000;
		// }
		&:nth-child(2) {
			position: absolute;
			top: 0;
			height: 345.5px;
			// &:before {
			// 	background-color: #000000;
			// 	left: 99px;
			// }
		}
		&:nth-child(3) {
			position: absolute;
			top: 0;
			// &:before {
			// 	background-color: #000000;
			// 	right: 0;
			// }
		}
		&:target {
			display: block;
		}
		&-temp {
			font-family: "Roboto";
			font-style: normal;
			font-weight: 400;
			font-size: 70px;
			line-height: 82px;
			color: #000000;
			padding-top: 20.5px;
			margin-left: 23px;
		}
		&-icon {
			width: 78px;
			height: 58px;
			margin-top: 40px;
			margin-left: 112px;
		}
		&-content {
			margin-top: 98px;
			display: flex;
			justify-content: space-between;
			&-like {
				width: 22px;
				height: 22px;
				margin-right: 26px;
				cursor: pointer;
			}
			&-city {
				margin-left: 12px;
				font-family: "Roboto";
				font-style: normal;
				font-weight: 400;
				font-size: 24px;
				line-height: 28px;
				color: #000000;
			}
		}
	}
	&__location {
		min-width: 300px;
		height: 390px;
		&-add{
			height: 68.5px;
			border-bottom: 1px solid #000000;
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 400;
			font-size: 24px;
			line-height: 28px;
			color: #000000;
			padding-top: 33.5px;
			padding-left: 18px;
		}
		&-save{
			padding-top: 35px;
			padding-left: 18px;
			.list{
				list-style: none;
				margin: 0;
				padding: 0;
				&__item{
					font-family: 'Roboto';
					font-style: normal;
					font-weight: 400;
					font-size: 24px;
					line-height: 40px;
					color: #000000;
				}
			}
		}
	}
	&__details{
		&-title{
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 400;
			font-size: 24px;
			line-height: 28px;
			color: #000000;
			padding-top: 33px;
			padding-left: 18px;
		}
		.list{
			list-style: none;
			margin: 0;
			padding: 0;
			padding-top: 42px;
			padding-left: 18px;
			&__item{
				font-family: 'Roboto';
				font-style: normal;
				font-weight: 400;
				font-size: 24px;
				line-height: 40px;
				color: #000000;
			}
		}
	}
	&__forecast{
		height: 388.5px;
		overflow: hidden;
		&-title{
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 400;
			font-size: 24px;
			line-height: 28px;
			color: #000000;
			padding-top: 33px;
			padding-left: 18px;
		}
		&-block{
			margin: 7px auto 0 auto;
			width: 265px;
			height: 120px;
			border: 1px solid #000000;
			.block__title{
				display: flex;
				justify-content: space-between;
				font-family: 'Roboto';
				font-style: normal;
				font-weight: 400;
				font-size: 18px;
				line-height: 21px;
				color: #000000;
				padding: 6px 12px 0 12px;
			}
			.block__subtitle{
				display: flex;
				justify-content: space-between;
				padding: 38px 12px 0 12px;
				font-family: 'Roboto';
				font-style: normal;
				font-weight: 400;
				font-size: 18px;
				line-height: 21px;
				color: #000000;
			}
			.block__text{
				display: flex;
				justify-content: space-between;
				padding: 0 12px 0 12px;
				font-family: 'Roboto';
				font-style: normal;
				font-weight: 400;
				font-size: 18px;
				line-height: 21px;
				color: #000000;
			}
		}
	}
}

.tabs {
	width: 296px;
	height: 45px;
	border-top: 1px solid #000000;
	margin-top: 14px;
	position: relative;
	&__items {
		display: flex;
		justify-content: space-between;
		position: absolute;
		top: 345px;
		border-top: 1px solid #000000;
		border-bottom: 1px solid #000000;
	}
	&__item {
		padding-top: 12px;
		width: 99px;
		height: 43px;
		display: flex;
		justify-content: center;
		font-family: "Roboto";
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 21px;
		color: #000000;
		border-right: 1px solid #000000;
	}
}

#tab_01:target ~ .tabs__items > a[href="#tab_01"],
#tab_02:target ~ .tabs__items > a[href="#tab_02"],
#tab_03:target ~ .tabs__items > a[href="#tab_03"] {
	color: #ffffff;
	background: #000;
}

#tab_01:not(:target) ~ .tabs__items a[href="#tab_01"],
#tab_02:not(:target) ~ .tabs__items a[href="#tab_02"],
#tab_03:not(:target) ~ .tabs__items a[href="#tab_03"] {
  background: #fff;
}

